/* Faire un reset CSS */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* scroll plus doux sur les liens */
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

/* ------------ Navigation ------------ */

.fixed-nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background: #485563;
    background-image: linear-gradient(to right, #29323c, #485563);
    font-size: 30px;
    z-index: 5;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

.menu a, .menu li a:visited {
    text-decoration: none;
}

.menu li a {
    color: #f1f1f1;
}

.menu li a:active {
    color: #29323c;
}

.menu-items {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu-items li:nth-child(5) {
    border-right: 0;
}

.menu-items li a {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 40px;
}

.sitename {
    font: normal 36px 'Abril Fatface', sans-serif;
    color: white;
}

.sitename span {
    color: #2196f3;
}

.menu-items li {
    /* flex les A à l'intérieur des li */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 60px;

    list-style-type: none;
    border-right: 1px solid #f1f1f1;
}

.menu-items li:hover {
    background: #2196f3;
}


/* MEDIA navigation */

@media only screen and (max-width: 1300px) {

    .menu {
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 60px;
        max-width: 100%;
        /* margin: 0 auto; */
    }

    .sitename {
        display: flex;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    .menu-items {
        flex-basis: 100%;
        justify-content: space-evenly;
        background: rgba(10, 89, 153, 0.7);
        font-size: 20px;
    }

    .menu-items li {
        border-right: 1px solid #9ccaff;
    }

    .menu-items li:hover {
        background-color: #2196f3;
    }

    .menu li a {
        padding: 2px;
        color: #f1f1f1;
    }
    
    .menu li a:active {
        color: #076abb;
    }
}

@media screen and (max-width: 700px) {
    
    .menu-items {
        display: none;
    }
    
    .menu-items.responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .menu-items.responsive li {
        border: 0;
        width: 100%;
        justify-content: center;
    }
    
    .menu-items.responsive a {
        padding: 10px;
    }

        /* Bouton TOGGLE animation en haut */

        .btn-round-menu {
            width: 40px;
            height: 40px;
            border: 1px solid #f1f1f1;
            border-radius: 5%;
            background: #485563;
            background-image: linear-gradient(to right, #29323c, #485563);
            position: fixed;
            top: 10px;
            left: 20px;
            /* au dessus du menu en z-index 5 */
            z-index: 10;
        }
        .container-line {
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: absolute; /* position fixed ça marche aussi en parent */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .unique-line {
            /* 100% du container-line */
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .unique-line::before {
            content: '';
            position: absolute;
            bottom: 10px; /* on la décale de bas en haut depuis le parent du milieu */
            background: #f1f1f1;
            width: 100%;
            height: 4px;
            border-radius: 5px;
        }
    
        .unique-line::after {
            content: '';
            position: absolute;
            top: 10px; /* on la décale de haut en bas depuis le parent du milieu */
            background: #f1f1f1;
            width: 100%;
            height: 4px;
            border-radius: 5px;
        }
    
        /* animer nos barres en collant les deux classe */
        /* Lorsque container-ligne à aussi la classe active */
        .container-line.active .unique-line::after {
            top: 0; /* remonter de bas an haut à partir du milieu */
            transform: rotate(45deg);
            /* on rajoute 300 ms et 300ms de délais puis le transform va rotate */
            transition: top 300ms ease, transform 300ms 300ms ease;
        }
        /* Lorsque cert element conteint à la fois la classe container-ligne et la classe active */
        .container-line.active .unique-line {
            background: transparent; /* on ne verra plus la barre du milieu */
        }
    
        .container-line.active .unique-line::before {
            bottom: 0; /* descendre de haut en bas */
            transform: rotate(-45deg);
            /* on rajoute 300 ms avprès pour ajouter un délai */
            transition: bottom 300ms ease, transform 300ms 300ms ease;
        }
}


/* ------------ Accueil ------------ */

/* background : attachment / bg-image / position / bg-size / repeat-style */
.home {
    margin-top: 60px;
    background: url(../ressources/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right; /* avoir le coté droit en visuel */
    height: 100vh;
    min-height: 900px;
    width: 100%; /* largeur du menu-left */
    position: relative;
    left: 20px;
}

.home h1 {
    font-size: 90px;
    font-family: 'Abril Fatface', sans-serif;
    margin: 0 60px;
    padding-top: 210px;
}

.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}

.btn-home {
    /* Donne la possibilité d'utiliser width et height ET flexbox*/
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 30px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
}

.btn-home1 {
    margin: 10px 0 0 60px;
}

.btn-home2 {
    background: transparent;
    border: 2px solid black;
    color: black;
    margin-left: 30px;
    font-weight: 700;
}

.social-medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.media2 {
    background: transparent;
    border: 2px solid #333;
}

/* on reduit les icones */
.icon-medias {
    width: 30px;
}

.btn-round {
    width: 70px;
    height: 70px;
    /* pour le caler en basà gauche */
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    /* centrer l'intérieur */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}

/* l'animation pulse change la box shadow avec un petit étalement de flou qui déborde à l'infini */
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
    }
}

.logo-btn-round-home {
    width: 35px;
}

/* MEDIA home */

@media screen and (max-width: 1300px) {
    .home {
        background-position: center; /* de right à center pour la position de l'image */
    }
}

@media screen and (max-width: 1000px) {
    /* Quand on reduit il faut reduire la hauteur aussi */
    .home {
        height: 700px;
        min-height: 0;
    }
    .home h1 {
        font-size: 70px;
        margin: 0 30px 0 30px;
        padding-top: 150px;
    }
    /* les paragraphes dans home */
    .home p {
        margin: 20px 0 20px 30px;
    }
    .btn-home1 {
        margin: 10px 0 0 30px;
    }
    .social-medias {
        margin-left: 30px;
    }
    .btn-round {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .home {
        height: 600px;
    }
    .home h1 {
        font-size: 50px;
        margin: 0 30px;
    }
    .home p {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .home h1 {
        font-size: 35px;
    }
    .home p {
        font-size: 16px;
    }
    .btn-home {
        width: 120px;
        font-size: 13px;
        height: 40px;
        margin: 10px 0 0 5px;
    }
    .btn-home1 {
        margin: 10px 0 0 30px;
    }
    .media {
        width: 40px;
        height: 40px;
    }
    .icon-medias {
        width: 20px;
    }
}

@media screen and (max-width: 450px) {

    .home {
        height: 500px;
    }

    .home h1 {
        margin: 0 30px 0 5px;
        padding-top: 120px;
    }
    
    .home p {
        margin: 30px 0 0 5px;
    }
    .btn-home {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 5px;
    }
    .social-medias {
        margin-top: 30px;
        margin-left: 5px;
    }
    .icon-medias {
        width: 20px;
    }
}

@media screen and (max-width: 380px) {
    .txt-animation {
        font-size: 15px!important; /* comme js change des données */
    }
}

@media screen and (max-width: 370px) {
    .txt-animation {
        font-size: 13px!important; /* comme js change des données */
    }
}

/* ------------ Présentation ------------ */

.introduction {
    width: 100%;
    position: relative; /* enfant en absolute */
    overflow: hidden;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333; /* maj + alt + bas */
    color: #e7e7e7;
}

.form-background {
    background: #485563;
    background-image: linear-gradient(to right, #29323c, #485563);
    width: 2300px;
    height: 1000px;
    position: absolute;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1; /* Quand un élément est positionné il passe aus dessus des éléments non positionné */
}

.title-intro {
    font-size: 40px;
    text-align: center;
    margin: 50px 0 70px 0;
    padding-left: 300px; /* décaler à cause du menu gauche */
}

.container-intro {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 130px 0;
    flex-shrink: 0; /* largeur bloquée */
    padding-left: 300px;
}

.intro-left {
    width: 600px;
    flex-shrink: 0; /* largeur bloquée */
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;
}

.intro-left h3 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px; /* espace entre les lettres */
}

.intro-left hr {
    width: 60px;
    margin: 10px auto 20px auto;
}

.intro-left p {
    text-align: justify;
}

.intro-right {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}

.list-intro {
    list-style-type: none;
    padding: 10px 0 50px 110px;
}

.number-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 40px;
}

.txt-list {
    font-size: 17px;
    display: inline;
}

/* Media présentation */

@media screen and (max-width: 1300px) {
    .container-intro {
        padding-left: 0px;
    }
    .title-intro {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1100px) {     
    .form-background {
        width: 100%;
        height: 150%;
        transform: rotate(0) translateX(0) translateY(0);
    }
    .title-intro {
        margin: 0 0 20px 0;
        padding-top: 50px;
    }
    .container-intro {
        flex-direction: column;
    }
    .intro-left {
        width: 80%; /* marge sur les coté */
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
    }
    .intro-left h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }
    .intro-left p {
        font-size: 16px;
    }
    .intro-right {
        width: 80%;
        flex-shrink: 1;
    }
    .list-intro {
        padding: 0 0;
    }
}

@media screen and (max-width: 700px) {
    .container-intro {
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .title-intro {
        font-size: 24px;
        margin: 0 10px;
    }
    .intro-left h3 {
        font-size: 20px;
    }
    .number-style {
        font-size: 30px;
    }
    .txt-list {
        font-size: 17px;
    }
}

/* ------------ Projets ------------ */

.portfolio {
    width: 100%;
    border-bottom: 1px dashed #333;
}

.title-port {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}

.container-port {
    width: 90%;
    height: auto; /* Tout ce qui va le remplir var définir sa hauteur, padding, margin, le contenu et les bordures */
    margin: 0 auto 100px auto; /* centrer le conteneur */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 20px; /* eviter de les coller */
    width: 420px; /* valeur absolue px relative or % plus propre */
    height: 400px;
    background: #f0f2f0;
    color: #333;
    transition: transform 0.3s ease-in-out; /* sur le transform */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.container-img-port img {
    width: 100%;
        /* image responsive, tu prends 100% de la hauteur et tu t'adaptes auto à condition que les dimensions soient repectées, donc responsive. */
    height: auto;
}

.item h3 {
    padding: 10px 10px 0; /* Top / left right / bottom */
    font-size: 22px;
}
.item p {
    padding: 10px 10px 0;
}
.btn-projects {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    /* même valeur que la hauteur pour centrer le texte */
    line-height: 50px; 
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    /*effet shiny */
    overflow: hidden;  
}

.btn-projects::after {
    content: "";
    height: 240px;
    width: 100px;
    background: rgba(255, 255, 255, 0.4);
    display: block; /* de base a = inline */
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}
/* Au survol des boutons, alors mes pseudos éléments after  */
.btn-projects:hover::after {
    transition: transform 0.3s 0.1s linear, background-color 1s ease;
    transform: translateX(400px);
}

.btn-projects:hover {
    transition: background-color 1s ease, color 1s ease;
    background-color: #333;
    color: #f1f1f1;
}

/* Media Porfolio */

/* Pour cibler les éléments selon les colonnes */
@media screen and (min-width: 1400px) {
    /* https://la-cascade.io/nth-child/ */
    .item:nth-child(3n+1):hover {
        transform: translate(-15px) scale(1.05);
    }
    .item:nth-child(3n+2):hover {
        transform: translate(0) scale(1.05);
    }
    .item:nth-child(3n+3):hover {
        transform: translate(15px) scale(1.05);
    }
}

@media screen and (max-width: 1300px) {    
    
    .title-port {
        font-size: 40px;
        margin: 50px 0 70px; /* Top / left & right / bottom */
    }
    /* 2n+0 ou 2n ciblera les éléments fils 2, 4, 6, 8 (odd) */
    .item:nth-child(odd):hover {
        transform: translate(-10px) scale(1.05);
    }
    /* 2n+1 ciblera les éléments fils 1, 3, 5, 7 (even) */
    .item:nth-child(even):hover {
        transform: translate(10px) scale(1.05);
    }
}

@media screen and (max-width: 500px) {
    .title-port {
        margin: 10px 0 10px;
        padding: 30px 0;
    }
    .item {
        height: 420px;
    }
    /* pour que les images s'adaptent bien */
    .container-img-port {
        height: auto;
    }
}

@media screen and (max-width: 340px) {

    .item {
        height: 380px;
        padding-bottom: 15px;
    }
    .btn-projects {
        margin: 15px auto;
    }
}

/* .button-helper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #00467F;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to left, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to left, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.btn-projects:hover .button-helper {
    opacity: 1;
} */

/* ------------ Section Expérience ------------ */

.work-exp {
    width: 100%; /* le fond est blanc on décale */
    height: auto;
    margin-left: auto;
    padding-bottom: 100px;
}

.title-work-exp {
    text-align: center;
    margin: 70px 0;
    font-size: 40px;
    color: #333;
}
/* conteneur barre avec boules et cartes */
.container-exp-work {
    position: relative;
    display: flex;
    justify-content: center;
}

.vertical-bar {
    height: 1000px;
    width: 5px;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* espace entre les boules */
    align-items: center; /* on a renversé les axes */
    position: relative;
    left: -30px; /* on la décale du conteneur */
}

.ball-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball-ico img {
    width: 25px;
}

.container-flex-exp {
    width: 800px;
    flex-shrink: 1; /* on l'autorise à se réduire */
    height: 1000px;
    position: relative;
}

.block {
    width: 100%;
    height: 200px;
    /* taille 237.5px soit 1000 - 5x50px /4 +50 */
    margin-bottom: 37.5px; 
    cursor: pointer;
    border: 1px solid #333;
    position: relative;
}

.container-block {
    padding: 20px; /* faire respirer */
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: white;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, border 0.25s ease-in-out;
    position: relative;
    transform: translate(10px, -10px); /* on les décale */
    
}

.container-block:hover {
    transform: translate(0,0);
    box-shadow: 0px 8px 16px -6px,
    0px 0px 16px -6px;
    border: 1px solid;
}

.block1 {
    background: #fb97a0;
}
.block1:hover {
    color: #fb97a0;
    border: #fb97a0;
}
.block2 {
    background: #bfe2ca;
}
.block2:hover {
    color: #bfe2ca;
    border: #bfe2ca;
}
.block3 {
    background: #a6daef;
}
.block3:hover {
    color: #a6daef;
    border: #a6daef;
}
.block4 {
    background: #d0e2ec;
}
.block4:hover {
    color: #d0e2ec;
    border: #d0e2ec;
}

.title-section-block {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    color: black;
}

.section-txt {
    color: black;
}

/*  Media section travail EXP */

@media screen and (max-width: 950px) {
    .vertical-bar {
        height: 1200px;
        margin-left: 60px;
    }

    .block {
        height: 250px;
        margin-bottom: 37.5px;
    }
    .container-flex-exp {
        margin-right: 30px;
    }
}

@media screen and (max-width: 520px) {
    .section-txt {
        font-size: 16px;
    }
    .block {
        height: 400px;
    }

    .vertical-bar {
        height: 1800px;
    }
}

@media screen and (max-width: 520px) {
    .section-txt {
        font-size: 15px;
    }
}

/* ------------ Section parallax ------------ */

.section-parallax {
    width: 100%;
    height: 250px;
    /* raccourcie : repeat position / size fixed  */
    background: url(../ressources/accueil.jpg) no-repeat right / cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

.txt-par {
    font-size: 30px;
    font-weight: bold;
    margin: 0 50px;
}


@media screen and (max-width: 1300px) {
    .txt-par {
        font-size: 25px;
        margin: 0 30px;
    }
}

@media screen and (max-width: 700px) {
    .txt-par {
        font-size: 22px;
        margin: 0 25px;
    }
}

@media screen and (max-width: 550px) {
    .section-parallax {
        flex-direction: column;
    }
    .txt-par {
        font-size: 20px;
        margin: 20px 0;
    }
}

/* ------------ Section contact ------------ */

.section-contact {
    width: 100%;
    height: auto;
}

.section-contact img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 80%;
    border-bottom: 1px solid #ccc;
}

.section-contact h2 {
    text-align: center;
    color:#333;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 70px 0 0 0px;
}

.section-contact h2 strong {
    font-weight: 900;
}

.container-form {
    margin: 0 auto;
    width: 60%;
}

.form-group {
    position: relative;
    display: flex;
    margin-bottom: 45px;
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #aaaaaa;
    font-size: 20px;
    transition: 0.4s ease-out;
}

.form-group input {
    display: block; /* de base display-inline */
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaaaaa;
    color: #666;
    font-size: 20px;
    transition: 0.4s ease-out;
}

textarea {
    width: 100%;
    height: 200px;
    border: none; /* on enleve */
    border: 3px solid #aaa; /* on ajoute la notre */
    border-radius: 3px;
    padding: 5px;
    resize: none; /* enlever une icone */
    outline: none;
    font-size: 20px;
    transition: 0.4s all ease-out;
    background: #f1f1f1;
}

textarea::placeholder {
    font-size: 20px;
    opacity: 0.5;
}

textarea:focus {
    border-color: #8b97d7;
}

.form-group:nth-child(4) {
    margin-bottom: 25px;
    justify-content: flex-start; /* bouton à gauche */
}

.form-group .button-sub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid rgb(144, 144, 144);
    border-radius: 999px; /* angles arrondis */
    /* dégradé, transparent de 50% on aura un dégradé sur le reste jusqu'à l'autre rgb */
    background-image: linear-gradient(to right, transparent 50%, #29323c 50%, #485563);
    
    /* on bouge le dégradé et on est sur le tranparent */
    background-size: 200%; 
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.form-group .button-sub:hover {
    color: #fff;
    background-position: 100%;
    border: 3px solid #fff;
}

@media screen and (max-width:1300px) {
    .section-contact h2 {
        padding: 70px 0 0 0;
    }
    .container-form {
        padding-left: 0;
    }
    /* Bouton du bas */
    .form-group:nth-child(4) {
        justify-content: center;
    }
    .section-contact img {
        padding-left: 0px;
    }
}

/* animation Contact */

/*Soit quand un enfant de form group à le FOCUS (focus-within)
"," (veut dire ET)
Soit quand form-group à la classe animation */
.form-group:focus-within label, .form-group.animation label {
    top: 0px;
    /* le label va remonter */
    /* Il va falloir dire que l'input reste FOCUS */
    transform: translateY(-25px);
    color: #8b97d7;
}

/* Footer */

.container-footer {
    width: 100%;
    background: #485563;
    background-image: linear-gradient(to right, #29323c, #485563);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-left: auto;
	text-align: left;
    font: bold 16px sans-serif;
    /* on pousse les éléments du bord */
	padding: 25px 150px;
	margin-top: 80px;
}
 
.container-footer .footer-left,
.container-footer .footer-center,
.container-footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.container-footer .footer-left{
	width: 35%;
}
 
.container-footer h3{
    color:  #f1f1f1;
	font: normal 36px 'Abril Fatface', sans-serif;
	margin: 0;
}
 
.container-footer h3 span{
	color:  #5383d3;
}
 
 
.container-footer .footer-links{
	color:  #f1f1f1;
	margin: 20px 0 12px;
	padding: 0;
}
 
.container-footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.container-footer .footer-company-name{
	color:  #f1f1f1;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
.container-footer .footer-center{
	width: 35%;
}
 
.container-footer .footer-center i{
	background-color:  #333;
	color: #f1f1f1;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.container-footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.container-footer .footer-center p{
	display: inline-block;
	color:  #f1f1f1;
	vertical-align: middle;
	margin:0;
}
 
.container-footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.container-footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.container-footer .footer-right{
	width: 25%;
}
 
.container-footer .footer-company-about{
	line-height: 20px;
	color:  #f1f1f1;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #333;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.container-footer .footer-icons{
	margin-top: 25px;
}
 
.container-footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #f1f1f1;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 1300px) {
 
	.container-footer{
        width: 100%;
        padding: 25px 50px;
	}
} 
 
@media (max-width: 880px) {
 
	.container-footer{
        font: bold 14px sans-serif;
        padding: 25px 40px;
	
	}
 
	.container-footer .footer-left,
	.container-footer .footer-center,
	.container-footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.container-footer .footer-center i{
		margin-left: 0;
    }
    
    .container-footer .footer-center {
        display: none;
	}
}

@media (max-width: 320px) {
 
	.container-footer{
        padding: 15px 25px;
	}
} 